.box1 {
  width: 200px;
  height: 200px;
  background-color: red;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: black;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.para{
  width: 500px;
}

.bg_img {
  background-image: url("/nature.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}